$Card-border-color: darken($neutral-tint-2, 6.5%); // aka color-g4
$Card-sep-color: $neutral-tint-2;
$Card-spacing: 16px;


// CardHead
$CardHead-horizontal-margin: 0px;
$CardHead-vertical-margin: 0px;
$CardHead-horizontal-padding: 16px;
$CardHead-vertical-padding: 10px;
