$fonts-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;
$fonts-family-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$fonts-family-monospace: "Courier New", Courier, monospace;

$fonts-body-size: 10px;
$fonts-scale-factor: 1.618;
