$font-family-sans-serif: "Source Sans Pro", Helvetica, Arial, sans-serif;
$font-family-serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$font-family-monospace: "Courier New", Courier, monospace;

$base-font-size: 10px;
$scale-factor: 1.618;
