.Nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: $Nav-height;

  padding: $Nav-padding;

  background-color: $Nav-bg-color;
  border: 1px solid $Nav-border-color;
  box-shadow: 3px 0 3px $Nav-shadow-color;
  color: $Nav-fg-color;

  z-index: 10;

  .Typeahead {
    max-width: 50%;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}
