.Nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: $Nav-height;

  padding: $Nav-padding;

  background-color: $green;
  border: 1px solid $green-shade-1;
  box-shadow: 3px 0 3px $green-tint-2;
  color: $white;

  z-index: 10;

  .Typeahead {
    max-width: 50%;
  }
}
