// remove '2' suffixes when refactor complete
.Cards2 {
  display: flex;
  align-items: stretch;

  > .Card2 + .Card2,
  > .Card + .Card {
    margin-top: 0;
  }

  > .Card2,
  > .Card {
    display: block;
    flex: 1;
    margin-left: ($Page-main-spacing / 2);
    margin-right: ($Page-main-spacing / 2);

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
