.CardCol {
  border-left: 1px solid $Card-sep-color;
  padding: $Card-spacing ($Card-spacing / 2);

  &:first-of-type {
    border-left: 0;
  }

  &:first-child {
    padding-left: $Card-spacing;
  }

  &:last-child:not(.CardCol--dangling) {
    padding-right: $Card-spacing;
  }

  &.CardCol--slim {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.CardCol--soft {
    border-color: transparent;
  }
}
