@import '../vars';

.CardRow {
  padding: 0;

  + .CardRow {
    border-top: 1px solid $card-sep-color;
  }

  + .CardRow--empty {
    margin: -10px 0 -20px;
  }

  + .CardRow--soft {
    border-top: 0;
    margin-top: -$card-spacing;
  }

  &.CardRow--soft {
    .CardCol {
      border-color: transparent;
    }
  }

  &.is-editing {
    background-color: $neutral-tint-1;
    transition: background-color 0.3s ease-in-out;
  }
}


@media (max-width: 1709px) {
  .CardRow {
    &.PlanDescription {
      height: 74px;
    }
  }
}
