// just here to shim some vars while this project is unable
// to bring in an external component library for its stories...
$page-bg: $neutral-tint-1;
$page-head-bg: $white;
$page-main-spacing: 24px;


$card-border-color: darken($neutral-tint-2, 6.5%); // aka color-g4
$card-sep-color: $neutral-tint-2;
$card-spacing: 16px;


// CardHead
$card-head-horizontal-margin: 0px;
$card-head-vertical-margin: 0px;
$card-head-horizontal-padding: 16px;
$card-head-vertical-padding: 10px;


$label-horizontal-margin: 8px;
$label-vertical-margin: 0px;
$label-horizontal-padding: 8px;
$label-vertical-padding: 4px;
