$ricon-attention: "\e816";
$ricon-lock2: "\e817";
$ricon-sliders: "\f1de";
$ricon-times-circle: "\e815";
$ricon-circle: "\f111";
$ricon-check: "\e804";
$ricon-times: "\e800";
$ricon-question-circle: "\e802";
$ricon-info-circle: "\e809";
$ricon-star-o: "\e803";
$ricon-search: "\e807";
$ricon-external-link: "\f08e";
$ricon-copy: "\f0c5";
$ricon-edit: "\e808";
$ricon-calendar: "\e801";
$ricon-caret-down: "\e814";
$ricon-chevron-down: "\e805";
$ricon-chevron-up: "\e806";
$ricon-chevron-left: "\e812";
$ricon-chevron-right: "\e813";
$ricon-sort: "\f0dc";
$ricon-sort-desc: "\f0dd";
$ricon-sort-asc: "\f0de";
$ricon-quote-left: "\f10d";
$ricon-quote-right: "\f10e";
$ricon-usd: "\f155";
$ricon-refresh-rotate-sync: "\e811";
$ricon-users: "\e80a";
$ricon-lock: "\e80b";
$ricon-graph: "\e80c";
$ricon-control_panel: "\e80d";
$ricon-settings: "\e80e";
$ricon-settings_2: "\e80f";
$ricon-world: "\e810";
$ricon-ok-circled: "\e818";
$ricon-attention-circled: "\e819";
