@import './variables';

@font-face {
  font-family: 'recurly-icons';
  src: url('./recurly-icons/fonts/recurly-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.ricon {
  font-family: 'recurly-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ricon-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.ricon-attention {
  &:before {
    content: $ricon-attention;
  }
}
.ricon-lock2 {
  &:before {
    content: $ricon-lock2;
  }
}
.ricon-sliders {
  &:before {
    content: $ricon-sliders;
  }
}
.ricon-times-circle {
  &:before {
    content: $ricon-times-circle;
  }
}
.ricon-circle {
  &:before {
    content: $ricon-circle;
  }
}
.ricon-check {
  &:before {
    content: $ricon-check;
  }
}
.ricon-times {
  &:before {
    content: $ricon-times;
  }
}
.ricon-question-circle {
  &:before {
    content: $ricon-question-circle;
  }
}
.ricon-info-circle {
  &:before {
    content: $ricon-info-circle;
  }
}
.ricon-star-o {
  &:before {
    content: $ricon-star-o;
  }
}
.ricon-search {
  &:before {
    content: $ricon-search;
  }
}
.ricon-external-link {
  &:before {
    content: $ricon-external-link;
  }
}
.ricon-copy {
  &:before {
    content: $ricon-copy;
  }
}
.ricon-edit {
  &:before {
    content: $ricon-edit;
  }
}
.ricon-calendar {
  &:before {
    content: $ricon-calendar;
  }
}
.ricon-caret-down {
  &:before {
    content: $ricon-caret-down;
  }
}
.ricon-chevron-down {
  &:before {
    content: $ricon-chevron-down;
  }
}
.ricon-chevron-up {
  &:before {
    content: $ricon-chevron-up;
  }
}
.ricon-chevron-left {
  &:before {
    content: $ricon-chevron-left;
  }
}
.ricon-chevron-right {
  &:before {
    content: $ricon-chevron-right;
  }
}
.ricon-sort {
  &:before {
    content: $ricon-sort;
  }
}
.ricon-sort-desc {
  &:before {
    content: $ricon-sort-desc;
  }
}
.ricon-sort-asc {
  &:before {
    content: $ricon-sort-asc;
  }
}
.ricon-quote-left {
  &:before {
    content: $ricon-quote-left;
  }
}
.ricon-quote-right {
  &:before {
    content: $ricon-quote-right;
  }
}
.ricon-usd {
  &:before {
    content: $ricon-usd;
  }
}
.ricon-refresh-rotate-sync {
  &:before {
    content: $ricon-refresh-rotate-sync;
  }
}
.ricon-users {
  &:before {
    content: $ricon-users;
  }
}
.ricon-lock {
  &:before {
    content: $ricon-lock;
  }
}
.ricon-graph {
  &:before {
    content: $ricon-graph;
  }
}
.ricon-control_panel {
  &:before {
    content: $ricon-control_panel;
  }
}
.ricon-settings {
  &:before {
    content: $ricon-settings;
  }
}
.ricon-settings_2 {
  &:before {
    content: $ricon-settings_2;
  }
}
.ricon-world {
  &:before {
    content: $ricon-world;
  }
}
.ricon-ok-circled {
  &:before {
    content: $ricon-ok-circled;
  }
}
.ricon-attention-circled {
  &:before {
    content: $ricon-attention-circled;
  }
}

