.Stage {
  flex-grow: 1;
  position: relative;
  height: calc(100% - 2 * #{$Stage-padding});
  // margin-left: $Nav-width;
  padding: $Stage-padding;

  background-color: $Stage-bg-color;

  > div {
    height: calc(100% - 2 * #{$Stage-padding});
    padding: 2 * $Stage-padding;

    background-color: $white;
    border: 1px solid $neutral-tint-2;
    box-shadow: 0 0 4px $neutral-tint-2;
  }
}
