/**
 *  RESET
 */
// * {
//   box-sizing: border-box;
// }

html, body {
  height: 100%;
  margin: 0;
  background-color: white;
  // color: color-text-2;
  font-size: 10px;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}


// html {
//   font-size: Base-font-size;
//   line-height: 1.6;
// }

// html, body, th, td, div, p, button {
//   font-family: font-family-sans-serif;
// }

strong, b {
  font-weight: semi-bold;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

p, pre {
  margin: 0;
}

img {
  max-width: 100%;
}


/**
 *  RENDER CONTAINER
 */
#storybook {
  height: 100%;
}
